  <%

  		qaprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0, qamis: 0, qaab: 0}
  		qatasks = ["Pre_QA_H","Review_H", "QA_H", "Bug_Management_H","Audio_QA_H","N_Review_H", "N_QA_H", "N_Bug_Management_H", "Project_Management_H", "Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
  		
		i=0
  		qaprojects.each do |key,value|
  			qatasks.each do |qt|
  				qaprojects[key] = qaprojects[key] + Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(qt)
  			end
  			i=i+1
  		end


  		locprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0, locmis: 0, locab: 0}
  		loctasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H","N_Review_H","N_translation_H","N_bugfix_H","Project_Management_H","Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
  		

		i=0
  		locprojects.each do |key, value|
  			loctasks.each do |lt|
  				locprojects[key] = locprojects[key] + Loceod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(lt) 
  			end
  			i=i+1
  		end

  		webtime = qaprojects[:qawebtime] + locprojects[:locwebtime]
 		wowtime = qaprojects[:qaWoWtime] + locprojects[:locWoWtime]
 		sc2time =  qaprojects[:qasc2time] + locprojects[:locsc2time]
 		herotime = qaprojects[:qaherotime] + locprojects[:locherotime]
 		d3time = qaprojects[:qad3time] + locprojects[:locd3time]
 		owtime = qaprojects[:qaoverwatchtime] + locprojects[:locoverwatchtime]
 		hstime = qaprojects[:qahstime] + locprojects[:lochstime]


    qagameobj = qaprojects[:qaWoWtime] + qaprojects[:qasc2time] + qaprojects[:qaherotime] + qaprojects[:qad3time] + qaprojects[:qaoverwatchtime] + qaprojects[:qahstime]
    qameeting = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_meeting")
    qatraining = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_training")
    qaothers = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_others")
    qaweb = qaprojects[:qawebtime]
    qaab = qaprojects[:qaab]
    qatotal = qagameobj + qameeting + qatraining + qaothers + qaweb + qaab
    qagameobjp = (qagameobj/qatotal*100).round(1)
    qameetingp = (qameeting/qatotal*100).round(1)
    qatrainingp = (qatraining/qatotal*100).round(1)
    qaothersp = (qaothers/qatotal*100).round(1)
    qawebp = (qaweb/qatotal*100).round(1)
    #qaabp = number_to_percentage(qaab/qatotal*100, precision: 2)
    qaabp = (qaab/qatotal*100).round(1)



   %>

   

<table class="table" contenteditable="true">
	<tbody>
		<tr class="info">
			<td>WoW</td>
			<td>Hearthstone</td>
			<td>SCII</td>
			<td>heros</td>
			<td>DIII</td>
			<td>Overwatch</td>
			<td>Web</td>
		</tr>
		<tr>
			<td><%= i %></td>
			<td><%= hstime %></td>
			<td><%= sc2time %></td>
			<td><%= herotime %></td>
			<td><%= d3time %></td>
			<td><%= owtime %></td>
			<td><%= webtime %></td>
		</tr>
	</tbody>
</table>

 <table>
 <% @users = User.all %>


 <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.role %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    </tr>
  <% end %>
  </table>



<table class="table" contenteditable="true">
   <thead>
      <tr >
         <th>QA</th>
         <th><span style="font-weight: normal;">Hours</span></th>
         <th><span style="font-weight: normal;">%</span></th>
      </tr>
   </thead>
   <tbody>
      <tr class="info">
         <td>Game Projects</td>
         <td><%=qagameobj%></td>
         <td><%=qagameobjp%>%</td>
      </tr>
      <tr class="info">
         <td>Web</td>
         <td><%=qaweb%></td>
         <td><%=qawebp%>%</td>
      </tr>
      <tr class="info">
         <td>Meeting</td>
         <td><%=qameeting%></td>
         <td><%=qameetingp%>%</td>
      </tr>
      <tr class="info">
         <td>Training</td>
         <td><%=qatraining%></td>
         <td><%=qatrainingp%>%</td>
      </tr>
      <tr class="info">
         <td>Absence</td>
         <td><%=qaab%></td>
         <td><%=qaabp%>%</td>
      </tr>
      <tr class="info">
         <td>Other</td>
         <td><%=qaothers%></td>
         <td><%=qaothersp%>%</td>
      </tr>
   </tbody>
</table>




<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

  
    <script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'QA Overview'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'QA Overview',
            data: [
                ['Game Projects',   <%=qagameobjp%>],
                {
                    name: 'web',
                    y: <%=qawebp%>,
                    sliced: true,
                    selected: true
                },
                ['Meeting',    <%=qameetingp%>],
                ['Training',    <%=qatrainingp%>],
                ['Absence',  <%=qaabp%>],
                ['Others',  <%=qaothersp%>],
            ]
        }]
    });
});


    </script>






testtesttest

