 

  <%
      if params[:milestone].to_i>0
        milestone = params[:milestone]
        reportfilter = 0
      else
        dateStart = params[:dateStart].to_date
        dateEnd = params[:dateEnd].to_date
        reportfilter = 1
      end

    mstone = Milestone.find(milestone) 
    gameid = mstone.game.id


      qaprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0, qamis: 0, qaab: 0}
      qatasks = ["Pre_QA_H","Review_H", "QA_H", "Bug_Management_H","Audio_QA_H","N_Review_H", "N_QA_H", "N_Bug_Management_H", "Project_Management_H", "Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
    
       
    i=0
      qaprojects.each do |key,value|
        qatasks.each do |qt|
          qaprojects[key] = qaprojects[key] + Qaeod.where(date: dateStart..dateEnd, game_id: i).sum(qt) if reportfilter == 1
          qaprojects[key] = qaprojects[key] + Qaeod.where(milestone: milestone, game_id: i).sum(qt) if reportfilter == 0
        end
        i=i+1
      end


      locprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0, locmis: 0, locab: 0}
      loctasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" ,"polish_H" ,"N_Review_H","N_translation_H","N_bugfix_H","Project_Management_H","Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
      

    i=0
      locprojects.each do |key, value|
        loctasks.each do |lt|
          locprojects[key] = locprojects[key] + Loceod.where(date: dateStart..dateEnd, game_id: i).sum(lt)  if reportfilter == 1
          locprojects[key] = locprojects[key] + Loceod.where(milestone: milestone, game_id: i).sum(lt)  if reportfilter == 0
        end
        i=i+1
      end

      webtime = qaprojects[:qawebtime] + locprojects[:locwebtime]

    wowtime = qaprojects[:qaWoWtime] + locprojects[:locWoWtime]
    qawowp = (qaprojects[:qaWoWtime] / wowtime*100).round(1)
    locwowp = (locprojects[:locWoWtime] / wowtime*100).round(1)

    sc2time =  qaprojects[:qasc2time] + locprojects[:locsc2time]
    qasc2p = (qaprojects[:qasc2time] / wowtime*100).round(1)
    locsc2p = (locprojects[:locsc2time] / wowtime*100).round(1)

    herotime = qaprojects[:qaherotime] + locprojects[:locherotime]
    qaherop = (qaprojects[:qaherotime] / wowtime*100).round(1)
    locherop = (locprojects[:locherotime] / wowtime*100).round(1)

    d3time = qaprojects[:qad3time] + locprojects[:locd3time]
    qad3p = (qaprojects[:qad3time] / wowtime*100).round(1)
    locd3p = (locprojects[:locd3time] / wowtime*100).round(1)

    owtime = qaprojects[:qaoverwatchtime] + locprojects[:locoverwatchtime]
    qaowp = (qaprojects[:qaoverwatchtime] / wowtime*100).round(1)
    locowp = (locprojects[:locoverwatchtime] / wowtime*100).round(1)

    hstime = qaprojects[:qahstime] + locprojects[:lochstime]
    qahsp = (qaprojects[:qahstime] / wowtime*100).round(1)
    lochsp = (locprojects[:lochstime] / wowtime*100).round(1)


    qagameobj = qaprojects[:qaWoWtime] + qaprojects[:qasc2time] + qaprojects[:qaherotime] + qaprojects[:qad3time] + qaprojects[:qaoverwatchtime] + qaprojects[:qahstime]
    qameeting = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_meeting")
    qatraining = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_training")
    qaothers = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_others")
    qaweb = qaprojects[:qawebtime]
    qaab = qaprojects[:qaab]
    qatotal = qagameobj + qameeting + qatraining + qaothers + qaweb + qaab


    locgameobj = locprojects[:locWoWtime] + locprojects[:locsc2time] + locprojects[:locherotime] + locprojects[:locd3time] + locprojects[:locoverwatchtime] + locprojects[:lochstime]
    locmeeting = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_meeting")
    loctraining = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_training")
    locothers = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_others")
    locweb = locprojects[:locwebtime]
    locab = locprojects[:locab]
    loctotal = locgameobj + locmeeting + loctraining + locothers + locweb + locab

    pstotal = qatotal + loctotal
    loctotalp =  (loctotal/pstotal*100).round(1)
    qatotalp = (qatotal/pstotal*100).round(1)


   # qagameobjp = (qagameobj/qatotal*100).round(1)
    qameetingp = (qameeting/qatotal*100).round(1)
    qatrainingp = (qatraining/qatotal*100).round(1)
    qaothersp = (qaothers/qatotal*100).round(1)
    qawebp = (qaweb/qatotal*100).round(1)
    #qaabp = number_to_percentage(qaab/qatotal*100, precision: 2)
    qaabp = (qaab/qatotal*100).round(1)
    qawowtimep = (qaprojects[:qaWoWtime]/qatotal*100).round(1)
    qahstimep = (qaprojects[:qahstime]/qatotal*100).round(1)
    qasc2timep = (qaprojects[:qasc2time]/qatotal*100).round(1)
    qaherotimep = ( qaprojects[:qaherotime]/qatotal*100).round(1)
    qad3timep = (qaprojects[:qad3time]/qatotal*100).round(1)
    qaowtimep = (qaprojects[:qaoverwatchtime]/qatotal*100).round(1)


    locmeetingp = (locmeeting/loctotal*100).round(1)
    loctrainingp = (loctraining/loctotal*100).round(1)
    locothersp = (locothers/loctotal*100).round(1)
    locwebp = (locweb/loctotal*100).round(1)
    locabp = (locab/loctotal*100).round(1)
    locwowtimep = (locprojects[:locWoWtime]/loctotal*100).round(1)
    lochstimep = (locprojects[:lochstime]/loctotal*100).round(1)
    locsc2timep = (locprojects[:locsc2time]/loctotal*100).round(1)
    locherotimep = ( locprojects[:locherotime]/loctotal*100).round(1)
    locd3timep = (locprojects[:locd3time]/loctotal*100).round(1)
    locowtimep = (locprojects[:locoverwatchtime]/loctotal*100).round(1)


    psgameobj = qagameobj + locgameobj
    fwowtime = qaprojects[:qaWoWtime] + locprojects[:locWoWtime]
    fhstime = qaprojects[:qahstime] + locprojects[:lochstime]
    fsc2time =  qaprojects[:qasc2time] + locprojects[:locsc2time]
    fherotime =  qaprojects[:qaherotime] + locprojects[:locherotime]
    fd3time = qaprojects[:qad3time] + locprojects[:locd3time]
    fowtime =  qaprojects[:qaoverwatchtime] + locprojects[:locoverwatchtime]
    fwowtimep = (fwowtime /psgameobj*100).round(1)
    fhstimep = (fhstime /psgameobj*100).round(1)
    fsc2timep = (fsc2time /psgameobj*100).round(1)
    fherotimep = (fherotime /psgameobj*100).round(1)
    fd3timep = (fd3time/psgameobj*100).round(1)
    fowtimep = (fowtime/psgameobj*100).round(1)

 
   %>
<%
qaingameprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0}
qanongameprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0}
      qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Bug_Management_H","Audio_QA_H","vpp_H","Project_Management_H"]
      qanongametasks = ["N_Review_H", "N_QA_H", "N_Bug_Management_H","N_vpp_H"]


     
    i=0
      qaingameprojects.each do |key,value|
        qaingametasks.each do |qt|
          qaingameprojects[key] = qaingameprojects[key] + Qaeod.where(date: dateStart..dateEnd, game_id: i).sum(qt) if reportfilter == 1
          qaingameprojects[key] = qaingameprojects[key] + Qaeod.where(milestone: milestone, game_id: i).sum(qt) if reportfilter == 0
        end
        i=i+1
      end

    qaingame = 0
    qaingameprojects.each do |key,value|
      qaingame = qaingame + value
    end


    i=0
      qanongameprojects.each do |key,value|
        qanongametasks.each do |qt|
          qanongameprojects[key] = qanongameprojects[key] + Qaeod.where(date: dateStart..dateEnd, game_id: i).sum(qt) if reportfilter == 1
          qanongameprojects[key] = qanongameprojects[key] + Qaeod.where(milestone: milestone, game_id: i).sum(qt) if reportfilter == 0
        end
        i=i+1
      end

    qanongame = 0
    qanongameprojects.each do |key,value|
      qanongame = qanongame + value
    end


  
      locingameprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0}
      locnongameprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0}
      locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
      locnongametasks = ["N_Review_H","N_translation_H","N_bugfix_H","N_vpp_H"]
      


    i=0
      locingameprojects.each do |key, value|
        locingametasks.each do |lt|
          locingameprojects[key] = locingameprojects[key] + Loceod.where(date: dateStart..dateEnd, game_id: i).sum(lt)  if reportfilter == 1
          locingameprojects[key] = locingameprojects[key] + Loceod.where(milestone: milestone, game_id: i).sum(lt)  if reportfilter == 0
        end
        i=i+1
      end

    locingame = 0
    locingameprojects.each do |key,value|
      locingame = locingame + value
    end


    i=0
      locnongameprojects.each do |key, value|
        locnongametasks.each do |lt|
          locnongameprojects[key] = locnongameprojects[key] + Loceod.where(date: dateStart..dateEnd, game_id: i).sum(lt)  if reportfilter == 1
          locnongameprojects[key] = locnongameprojects[key] + Loceod.where(milestone: milestone, game_id: i).sum(lt)  if reportfilter == 0
        end
        i=i+1
      end
    locnongame = 0
    locnongameprojects.each do |key,value|
      locnongame = locnongame + value
    end

    ingame = qaingame + locingame
    nongame = locnongame + qanongame

    pgame = ingame + nongame

    ingamep = (ingame / (ingame + nongame)*100).round(1)
    nongamep = (nongame / (ingame + nongame)*100).round(1)

    locingamep = (locingame / (ingame + nongame)*100).round(1)
    qaingamep = (qaingame / (ingame + nongame)*100).round(1)
    qanongamep = (qanongame / (ingame + nongame)*100).round(1)
    locnongamep = (locnongame / (ingame + nongame)*100).round(1)

    locwowingamep = (locingameprojects[:locWoWtime] / pgame*100).round(1)
    locsc2ingamep = (locingameprojects[:locsc2time] / pgame*100).round(1)
    lochsingamep = (locingameprojects[:lochstime] / pgame*100).round(1)
    locowingamep = (locingameprojects[:locoverwatchtime] / pgame*100).round(1)
    locd3ingamep = (locingameprojects[:locd3time] / pgame*100).round(1)
    locheroingamep = (locingameprojects[:locherotime] / pgame*100).round(1)


    locwownongamep =  (locnongameprojects[:locWoWtime] / pgame*100).round(1)
    locsc2nongamep =  (locnongameprojects[:locsc2time] / pgame*100).round(1)
    lochsnongamep =  (locnongameprojects[:lochstime] / pgame*100).round(1)
    locownongamep =  (locnongameprojects[:locoverwatchtime] / pgame*100).round(1)
    locd3nongamep =  (locnongameprojects[:locd3time] / pgame*100).round(1)
    locheronongamep =  (locnongameprojects[:locherotime] / pgame*100).round(1)





%>

<% case gameid %>
 <% when 1 %>
<%

  locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
  locingameamounttasks = ["Review","translation","bugfix","polish"]

  wowingamelocamount = {}
  locingameamounttasks.each do |la|
      wowingamelocamount[la] = Loceod.where(date: dateStart..dateEnd, game_id: 1).sum(la) if reportfilter == 1
      wowingamelocamount[la] = Loceod.where(milestone: milestone, game_id: 1).sum(la) if reportfilter == 0
  end

  wowingameamount = 0
  wowingamelocamount.each do |key,value|
    wowingameamount += value
  end

  wowingameloc = {}
  locingametasks.each do |lt|
          wowingameloc[lt] = Loceod.where(date: dateStart..dateEnd, game_id: 1).sum(lt)  if reportfilter == 1
          wowingameloc[lt] = Loceod.where(milestone: milestone, game_id: 1).sum(lt)  if reportfilter == 0
  end
  
  wowingamet = 0
 wowingameloc.each do |key,value|
    wowingamet += value
 end

  wowingamelocp = {}
  locingametasks.each do |lt|
          wowingamelocp[lt] = (wowingameloc[lt] / wowingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>wowlocingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  locingametasks.each do |lt| 
%>
   <tr class="info">
      <td><%=lt%></td>
      <td><%=wowingameloc[lt]%></td>
      <td><%=wowingamelocp[lt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>wowlocingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  locingameamounttasks.each do |la| 
%>
   <tr class="info">
      <td><%=la%></td>
      <td><%=wowingamelocamount[la]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
<div class="span6">
<div id="containerwowlocingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
</div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containerwowlocingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'wowlocingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'wowlocingame',
            data: [
               <%   locingametasks.each do |lt| %>
                [  '<%= lt %>',    <%=wowingamelocp[lt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>

<%

  qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Audio_QA_H","vpp_H","Project_Management_H"]
  qaingameamounttasks = ["QA","Audio_QA","bug_audio","bug_text","bug_fastfix","bug_functional"]

  wowingameqaamount = {}
  qaingameamounttasks.each do |qa|
      wowingameqaamount[qa] = Qaeod.where(date: dateStart..dateEnd, game_id: 1).sum(qa) if reportfilter == 1 
      wowingameqaamount[qa] = Qaeod.where(milestone: milestone, game_id: 1).sum(qa) if reportfilter == 0 
  end

  wowqaingameamount = 0
  wowingameqaamount.each do |key,value|
    wowqaingameamount += value
  end

  wowingameqa = {}
  qaingametasks.each do |qt|
          wowingameqa[qt] = Qaeod.where(date: dateStart..dateEnd, game_id: 1).sum(qt) if reportfilter == 1 
          wowingameqa[qt] = Qaeod.where(milestone: milestone, game_id: 1).sum(qt) if reportfilter == 0
  end
  
  wowqaingamet = 0
 wowingameqa.each do |key,value|
    wowqaingamet += value
 end

  wowingameqap = {}
  qaingametasks.each do |qt|
          wowingameqap[qt] = (wowingameqa[qt] / wowqaingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
    

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>wowqaingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingametasks.each do |qt| 
%>
   <tr class="info">
      <td><%=qt%></td>
      <td><%=wowingameqa[qt]%></td>
      <td><%=wowingameqap[qt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>wowqaingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingameamounttasks.each do |qa| 
%>
   <tr class="info">
      <td><%=qa%></td>
      <td><%=wowingameqaamount[qa]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
    <div class="span6">
    
<div id="containerwowqaingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
  </div>
</div>


 <script type="text/javascript">
$(function () {
    $('#containerwowqaingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'wowqaingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'wowlocingame',
            data: [
               <%   qaingametasks.each do |qt| %>
                [  '<%= qt %>',    <%=wowingameqap[qt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>
 <% when 2 %>
    <%

  qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Audio_QA_H","vpp_H","Project_Management_H"]
  qaingameamounttasks = ["QA","Audio_QA","bug_audio","bug_text","bug_fastfix","bug_functional"]

  sc2ingameqaamount = {}
  qaingameamounttasks.each do |qa|
      sc2ingameqaamount[qa] = Qaeod.where(date: dateStart..dateEnd, game_id: 2).sum(qa) if reportfilter == 1 
      sc2ingameqaamount[qa] = Qaeod.where(milestone: milestone, game_id: 2).sum(qa) if reportfilter == 0
  end

  sc2qaingameamount = 0
  sc2ingameqaamount.each do |key,value|
    sc2qaingameamount += value
  end

  sc2ingameqa = {}
  qaingametasks.each do |qt|
          sc2ingameqa[qt] = Qaeod.where(date: dateStart..dateEnd, game_id: 2).sum(qt) if reportfilter == 1 
          sc2ingameqa[qt] = Qaeod.where(milestone: milestone, game_id: 2).sum(qt) if reportfilter == 0
  end
  
  sc2qaingamet = 0
 sc2ingameqa.each do |key,value|
    sc2qaingamet += value
 end

  sc2ingameqap = {}
  qaingametasks.each do |qt|
          sc2ingameqap[qt] = (sc2ingameqa[qt] / sc2qaingamet *100).round(1) 
  end

%>

<%

  locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
  locingameamounttasks = ["Review","translation","bugfix","polish"]

  sc2ingamelocamount = {}
  locingameamounttasks.each do |la|
      sc2ingamelocamount[la] = Loceod.where(date: dateStart..dateEnd, game_id: 2).sum(la) if reportfilter == 1
      sc2ingamelocamount[la] = Loceod.where(milestone: milestone, game_id: 2).sum(la) if reportfilter == 0

  end

  sc2ingameamount = 0
  sc2ingamelocamount.each do |key,value|
    sc2ingameamount += value
  end

  sc2ingameloc = {}
  locingametasks.each do |lt|
          sc2ingameloc[lt] = Loceod.where(date: dateStart..dateEnd, game_id: 2).sum(lt)  if reportfilter == 1
          sc2ingameloc[lt] = Loceod.where(milestone: milestone, game_id: 2).sum(lt)  if reportfilter == 0
  end
  
  sc2ingamet = 0
 sc2ingameloc.each do |key,value|
    sc2ingamet += value
 end

  sc2ingamelocp = {}
  locingametasks.each do |lt|
          sc2ingamelocp[lt] = (sc2ingameloc[lt] / sc2ingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>sc2locingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  locingametasks.each do |lt| 
%>
   <tr class="info">
      <td><%=lt%></td>
      <td><%=sc2ingameloc[lt]%></td>
      <td><%=sc2ingamelocp[lt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>sc2locingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  locingameamounttasks.each do |la| 
%>
   <tr class="info">
      <td><%=la%></td>
      <td><%=sc2ingamelocamount[la]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
<div class="span6">
    
<div id="containersc2locingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
  </div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containersc2locingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'sc2locingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'sc2locingame',
            data: [
               <%   locingametasks.each do |lt| %>
                [  '<%= lt %>',    <%=sc2ingamelocp[lt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
   

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>sc2qaingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingametasks.each do |qt| 
%>
   <tr class="info">
      <td><%=qt%></td>
      <td><%=sc2ingameqa[qt]%></td>
      <td><%=sc2ingameqap[qt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>
 
<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>sc2qaingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingameamounttasks.each do |qa| 
%>
   <tr class="info">
      <td><%=qa%></td>
      <td><%=sc2ingameqaamount[qa]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
    <div class="span6">
   
<div id="containersc2qaingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

 </div>
  </div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containersc2qaingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'sc2qaingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'sc2locingame',
            data: [
               <%   qaingametasks.each do |qt| %>
                [  '<%= qt %>',    <%=sc2ingameqap[qt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>
 <% when 3 %>
<%

  locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
  locingameamounttasks = ["Review","translation","bugfix","polish"]

  hsingamelocamount = {}
  locingameamounttasks.each do |la|
      hsingamelocamount[la] = Loceod.where(date: dateStart..dateEnd, game_id: 3).sum(la)  if reportfilter == 1
      hsingamelocamount[la] = Loceod.where(milestone: milestone, game_id: 3).sum(la)  if reportfilter == 0
      
  end

  hsingameamount = 0
  hsingamelocamount.each do |key,value|
    hsingameamount += value
  end

  hsingameloc = {}
  locingametasks.each do |lt|
          hsingameloc[lt] = Loceod.where(date: dateStart..dateEnd, game_id: 3).sum(lt)  if reportfilter == 1
          hsingameloc[lt] = Loceod.where(milestone: milestone, game_id: 3).sum(lt)  if reportfilter == 0
  end
  
  hsingamet = 0
 hsingameloc.each do |key,value|
    hsingamet += value
 end

  hsingamelocp = {}
  locingametasks.each do |lt|
          hsingamelocp[lt] = (hsingameloc[lt] / hsingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
   

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>hslocingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  locingametasks.each do |lt| 
%>
   <tr class="info">
      <td><%=lt%></td>
      <td><%=hsingameloc[lt]%></td>
      <td><%=hsingamelocp[lt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>hslocingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  locingameamounttasks.each do |la| 
%>
   <tr class="info">
      <td><%=la%></td>
      <td><%=hsingamelocamount[la]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
 </div>
    <div class="span6">
   
<div id="containerhslocingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

 </div>
  </div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containerhslocingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'hslocingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'hslocingame',
            data: [
               <%   locingametasks.each do |lt| %>
                [  '<%= lt %>',    <%=hsingamelocp[lt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>
    <%

  qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Audio_QA_H","vpp_H","Project_Management_H"]
  qaingameamounttasks = ["QA","Audio_QA","bug_audio","bug_text","bug_fastfix","bug_functional"]

  hsingameqaamount = {}
  qaingameamounttasks.each do |qa|
      hsingameqaamount[qa] = Qaeod.where(date: dateStart..dateEnd, game_id: 3).sum(qa) if reportfilter == 1 
       hsingameqaamount[qa] = Qaeod.where(milestone: milestone, game_id: 3).sum(qa) if reportfilter == 0
  end

  hsqaingameamount = 0
  hsingameqaamount.each do |key,value|
    hsqaingameamount += value
  end

  hsingameqa = {}
  qaingametasks.each do |qt|
          hsingameqa[qt] = Qaeod.where(date: dateStart..dateEnd, game_id: 3).sum(qt) if reportfilter == 1 
          hsingameqa[qt] = Qaeod.where(milestone: milestone, game_id: 3).sum(qt) if reportfilter == 0 
  end
  
  hsqaingamet = 0
 hsingameqa.each do |key,value|
    hsqaingamet += value
 end

  hsingameqap = {}
  qaingametasks.each do |qt|
          hsingameqap[qt] = (hsingameqa[qt] / hsqaingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
   

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>hsqaingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingametasks.each do |qt| 
%>
   <tr class="info">
      <td><%=qt%></td>
      <td><%=hsingameqa[qt]%></td>
      <td><%=hsingameqap[qt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>hsqaingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingameamounttasks.each do |qa| 
%>
   <tr class="info">
      <td><%=qa%></td>
      <td><%=hsingameqaamount[qa]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
 </div>
    <div class="span6">
    
<div id="containerhsqaingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
  </div>
</div>


 <script type="text/javascript">
$(function () {
    $('#containerhsqaingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'hsqaingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'hslocingame',
            data: [
               <%   qaingametasks.each do |qt| %>
                [  '<%= qt %>',    <%=hsingameqap[qt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>
    
 <% when 4 %>
<%

  locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
  locingameamounttasks = ["Review","translation","bugfix","polish"]

  owingamelocamount = {}
  locingameamounttasks.each do |la|
      owingamelocamount[la] = Loceod.where(date: dateStart..dateEnd, game_id: 4).sum(la)  if reportfilter == 1
      owingamelocamount[la] = Loceod.where(milestone: milestone, game_id: 4).sum(la)  if reportfilter == 0
  end

  owingameamount = 0
  owingamelocamount.each do |key,value|
    owingameamount += value
  end

  owingameloc = {}
  locingametasks.each do |lt|
          owingameloc[lt] = Loceod.where(date: dateStart..dateEnd, game_id: 4).sum(lt)  if reportfilter == 1
          owingameloc[lt] = Loceod.where(milestone: milestone, game_id: 4).sum(lt)  if reportfilter == 0
  end
  
  owingamet = 0
 owingameloc.each do |key,value|
    owingamet += value
 end

  owingamelocp = {}
  locingametasks.each do |lt|
          owingamelocp[lt] = (owingameloc[lt] / owingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
    

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>owlocingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  locingametasks.each do |lt| 
%>
   <tr class="info">
      <td><%=lt%></td>
      <td><%=owingameloc[lt]%></td>
      <td><%=owingamelocp[lt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>owlocingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  locingameamounttasks.each do |la| 
%>
   <tr class="info">
      <td><%=la%></td>
      <td><%=owingamelocamount[la]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
    <div class="span6">
    
<div id="containerowlocingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

</div>
  </div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containerowlocingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'owlocingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'owlocingame',
            data: [
               <%   locingametasks.each do |lt| %>
                [  '<%= lt %>',    <%=owingamelocp[lt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>

    <%

  qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Audio_QA_H","vpp_H","Project_Management_H"]
  qaingameamounttasks = ["QA","Audio_QA","bug_audio","bug_text","bug_fastfix","bug_functional"]

  owingameqaamount = {}
  qaingameamounttasks.each do |qa|
      owingameqaamount[qa] = Qaeod.where(date: dateStart..dateEnd, game_id: 4).sum(qa) if reportfilter == 1 
      owingameqaamount[qa] = Qaeod.where(milestone: milestone, game_id: 4).sum(qa) if reportfilter == 0
  end

  owqaingameamount = 0
  owingameqaamount.each do |key,value|
    owqaingameamount += value
  end

  owingameqa = {}
  qaingametasks.each do |qt|
          owingameqa[qt] = Qaeod.where(date: dateStart..dateEnd, game_id: 4).sum(qt) if reportfilter == 1 
          owingameqa[qt] = Qaeod.where(milestone: milestone, game_id: 4).sum(qt) if reportfilter == 0
  end
  
  owqaingamet = 0
 owingameqa.each do |key,value|
    owqaingamet += value
 end

  owingameqap = {}
  qaingametasks.each do |qt|
          owingameqap[qt] = (owingameqa[qt] / owqaingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
   

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>owqaingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingametasks.each do |qt| 
%>
   <tr class="info">
      <td><%=qt%></td>
      <td><%=owingameqa[qt]%></td>
      <td><%=owingameqap[qt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>owqaingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingameamounttasks.each do |qa| 
%>
   <tr class="info">
      <td><%=qa%></td>
      <td><%=owingameqaamount[qa]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
 </div>
    <div class="span6">
  
<div id="containerowqaingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

  </div>
  </div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containerowqaingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'owqaingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'owlocingame',
            data: [
               <%   qaingametasks.each do |qt| %>
                [  '<%= qt %>',    <%=owingameqap[qt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>
    
 <% when 5 %>
<%

  locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
  locingameamounttasks = ["Review","translation","bugfix","polish"]

  d3ingamelocamount = {}
  locingameamounttasks.each do |la|
      d3ingamelocamount[la] = Loceod.where(date: dateStart..dateEnd, game_id: 5).sum(la) if reportfilter == 1
      d3ingamelocamount[la] = Loceod.where(milestone: milestone, game_id: 5).sum(la) if reportfilter == 0
  end

  d3ingameamount = 0
  d3ingamelocamount.each do |key,value|
    d3ingameamount += value
  end

  d3ingameloc = {}
  locingametasks.each do |lt|
          d3ingameloc[lt] = Loceod.where(date: dateStart..dateEnd, game_id: 5).sum(lt)  if reportfilter == 1
          d3ingameloc[lt] = Loceod.where(milestone: milestone, game_id: 5).sum(lt)  if reportfilter == 0
         
  end
  
  d3ingamet = 0
 d3ingameloc.each do |key,value|
    d3ingamet += value
 end

  d3ingamelocp = {}
  locingametasks.each do |lt|
          d3ingamelocp[lt] = (d3ingameloc[lt] / d3ingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
    

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>d3locingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  locingametasks.each do |lt| 
%>
   <tr class="info">
      <td><%=lt%></td>
      <td><%=d3ingameloc[lt]%></td>
      <td><%=d3ingamelocp[lt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>d3locingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  locingameamounttasks.each do |la| 
%>
   <tr class="info">
      <td><%=la%></td>
      <td><%=d3ingamelocamount[la]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
    <div class="span6">
    
<div id="containerd3locingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
  </div>
</div>


 <script type="text/javascript">
$(function () {
    $('#containerd3locingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadd3: false
        },
        title: {
            text: 'd3locingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                alld3PointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'd3locingame',
            data: [
               <%   locingametasks.each do |lt| %>
                [  '<%= lt %>',    <%=d3ingamelocp[lt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>
    <%

  qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Audio_QA_H","vpp_H","Project_Management_H"]
  qaingameamounttasks = ["QA","Audio_QA","bug_audio","bug_text","bug_fastfix","bug_functional"]

  d3ingameqaamount = {}
  qaingameamounttasks.each do |qa|
      d3ingameqaamount[qa] = Qaeod.where(date: dateStart..dateEnd, game_id: 5).sum(qa) if reportfilter == 1 
      d3ingameqaamount[qa] = Qaeod.where(milestone: milestone, game_id: 5).sum(qa) if reportfilter == 0
  end

  d3qaingameamount = 0
  d3ingameqaamount.each do |key,value|
    d3qaingameamount += value
  end

  d3ingameqa = {}
  qaingametasks.each do |qt|
          d3ingameqa[qt] = Qaeod.where(date: dateStart..dateEnd, game_id: 5).sum(qt) if reportfilter == 1 
          d3ingameqa[qt] = Qaeod.where(milestone: milestone, game_id: 5).sum(qt) if reportfilter == 0
  end
  
  d3qaingamet = 0
 d3ingameqa.each do |key,value|
    d3qaingamet += value
 end

  d3ingameqap = {}
  qaingametasks.each do |qt|
          d3ingameqap[qt] = (d3ingameqa[qt] / d3qaingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
   

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>d3qaingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingametasks.each do |qt| 
%>
   <tr class="info">
      <td><%=qt%></td>
      <td><%=d3ingameqa[qt]%></td>
      <td><%=d3ingameqap[qt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>d3qaingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingameamounttasks.each do |qa| 
%>
   <tr class="info">
      <td><%=qa%></td>
      <td><%=d3ingameqaamount[qa]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
 </div>
    <div class="span6">
  
<div id="containerd3qaingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  </div>
</div>


 <script type="text/javascript">
$(function () {
    $('#containerd3qaingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadd3: false
        },
        title: {
            text: 'd3qaingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                alld3PointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'd3locingame',
            data: [
               <%   qaingametasks.each do |qt| %>
                [  '<%= qt %>',    <%=d3ingameqap[qt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>

 <% when 6 %>
<%

  locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
  locingameamounttasks = ["Review","translation","bugfix","polish"]

  heroingamelocamount = {}
  locingameamounttasks.each do |la|
      heroingamelocamount[la] = Loceod.where(date: dateStart..dateEnd, game_id: 6).sum(la) if reportfilter == 1
      heroingamelocamount[la] = Loceod.where(milestone: milestone, game_id: 6).sum(la) if reportfilter == 0
      
  end

  heroingameamount = 0
  heroingamelocamount.each do |key,value|
    heroingameamount += value
  end

  heroingameloc = {}
  locingametasks.each do |lt|
          heroingameloc[lt] = Loceod.where(date: dateStart..dateEnd, game_id: 6).sum(lt)  if reportfilter == 1
          heroingameloc[lt] = Loceod.where(milestone: milestone, game_id: 6).sum(lt)  if reportfilter == 0
  end
  
  heroingamet = 0
 heroingameloc.each do |key,value|
    heroingamet += value
 end

  heroingamelocp = {}
  locingametasks.each do |lt|
          heroingamelocp[lt] = (heroingameloc[lt] / heroingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
    

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>herolocingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  locingametasks.each do |lt| 
%>
   <tr class="info">
      <td><%=lt%></td>
      <td><%=heroingameloc[lt]%></td>
      <td><%=heroingamelocp[lt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>herolocingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  locingameamounttasks.each do |la| 
%>
   <tr class="info">
      <td><%=la%></td>
      <td><%=heroingamelocamount[la]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
    <div class="span6">
   
<div id="containerherolocingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

 </div>
  </div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containerherolocingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadhero: false
        },
        title: {
            text: 'herolocingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allheroPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'herolocingame',
            data: [
               <%   locingametasks.each do |lt| %>
                [  '<%= lt %>',    <%=heroingamelocp[lt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>

    </div>
  </div>
</div>

    <%

  qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Audio_QA_H","vpp_H","Project_Management_H"]
  qaingameamounttasks = ["QA","Audio_QA","bug_audio","bug_text","bug_fastfix","bug_functional"]

  heroingameqaamount = {}
  qaingameamounttasks.each do |qa|
      heroingameqaamount[qa] = Qaeod.where(date: dateStart..dateEnd, game_id: 6).sum(qa) if reportfilter == 1 
      heroingameqaamount[qa] = Qaeod.where(milestone: milestone, game_id: 6).sum(qa) if reportfilter == 0
  end

  heroqaingameamount = 0
  heroingameqaamount.each do |key,value|
    heroqaingameamount += value
  end

  heroingameqa = {}
  qaingametasks.each do |qt|
          heroingameqa[qt] = Qaeod.where(date: dateStart..dateEnd, game_id: 6).sum(qt) if reportfilter == 1 
          heroingameqa[qt] = Qaeod.where(milestone: milestone, game_id: 6).sum(qt) if reportfilter == 0
  end
  
  heroqaingamet = 0
 heroingameqa.each do |key,value|
    heroqaingamet += value
 end

  heroingameqap = {}
  qaingametasks.each do |qt|
          heroingameqap[qt] = (heroingameqa[qt] / heroqaingamet *100).round(1) 
  end

%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
    
  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>heroqaingame</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingametasks.each do |qt| 
%>
   <tr class="info">
      <td><%=qt%></td>
      <td><%=heroingameqa[qt]%></td>
      <td><%=heroingameqap[qt]%>%</td>
    </tr>  
  
<% end %>

  </tbody>
</table>

<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>heroqaingame</th>
      <th>Amounts</th>
    </tr>
  </thead>
  <tbody>
<%
  qaingameamounttasks.each do |qa| 
%>
   <tr class="info">
      <td><%=qa%></td>
      <td><%=heroingameqaamount[qa]%></td>
    </tr>  
  
<% end %>

  </tbody>
</table>
</div>
    <div class="span6">
   
<div id="containerheroqaingame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

 </div>
  </div>
</div>

 <script type="text/javascript">
$(function () {
    $('#containerheroqaingame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadhero: false
        },
        title: {
            text: 'heroqaingame'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allheroPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'herolocingame',
            data: [
               <%   qaingametasks.each do |qt| %>
                [  '<%= qt %>',    <%=heroingameqap[qt]%>],
               
             <% end %>  
    
            ]
        }]
    });
});

    </script>

  <% end %>