 

  <%
      dateStart = params[:dateStart].to_date
      dateEnd = params[:dateEnd].to_date
  		qaprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0, qamis: 0, qaab: 0}
  		qatasks = ["Pre_QA_H","Review_H", "QA_H", "Bug_Management_H","Audio_QA_H","N_Review_H", "N_QA_H", "N_Bug_Management_H", "Project_Management_H", "Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
  	
       
    i=0
  		qaprojects.each do |key,value|
  			qatasks.each do |qt|
  				qaprojects[key] = qaprojects[key] + Qaeod.where(date: dateStart..dateEnd, game_id: i).sum(qt)
        end
  			i=i+1
  		end


  		locprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0, locmis: 0, locab: 0}
  		loctasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" ,"polish_H" ,"N_Review_H","N_translation_H","N_bugfix_H","Project_Management_H","Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
  		

		i=0
  		locprojects.each do |key, value|
  			loctasks.each do |lt|
  				locprojects[key] = locprojects[key] + Loceod.where(date: dateStart..dateEnd, game_id: i).sum(lt) 
        end
  			i=i+1
  		end

  		webtime = qaprojects[:qawebtime] + locprojects[:locwebtime]

 		wowtime = qaprojects[:qaWoWtime] + locprojects[:locWoWtime]
 		sc2time =  qaprojects[:qasc2time] + locprojects[:locsc2time]
 		herotime = qaprojects[:qaherotime] + locprojects[:locherotime]
 		d3time = qaprojects[:qad3time] + locprojects[:locd3time]
 		owtime = qaprojects[:qaoverwatchtime] + locprojects[:locoverwatchtime]
 		hstime = qaprojects[:qahstime] + locprojects[:lochstime]

    projecttime = wowtime + sc2time + herotime + d3time + owtime + hstime

    qawowp = (qaprojects[:qaWoWtime] / projecttime*100).round(1)
    locwowp = (locprojects[:locWoWtime] / projecttime*100).round(1)
    qasc2p = (qaprojects[:qasc2time] / projecttime*100).round(1)
    locsc2p = (locprojects[:locsc2time] / projecttime*100).round(1)
    qaherop = (qaprojects[:qaherotime] / projecttime*100).round(1)
    locherop = (locprojects[:locherotime] / projecttime*100).round(1)
    qad3p = (qaprojects[:qad3time] / projecttime*100).round(1)
    locd3p = (locprojects[:locd3time] / projecttime*100).round(1)
    qaowp = (qaprojects[:qaoverwatchtime] / projecttime*100).round(1)
    locowp = (locprojects[:locoverwatchtime] / projecttime*100).round(1)
    qahsp = (qaprojects[:qahstime] / projecttime*100).round(1)
    lochsp = (locprojects[:lochstime] / projecttime*100).round(1)


    qagameobj = qaprojects[:qaWoWtime] + qaprojects[:qasc2time] + qaprojects[:qaherotime] + qaprojects[:qad3time] + qaprojects[:qaoverwatchtime] + qaprojects[:qahstime]
    qameeting = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_meeting")
    qatraining = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_training")
    qaothers = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_others")
    qaweb = qaprojects[:qawebtime]
    qaab = qaprojects[:qaab]
    qatotal = qagameobj + qameeting + qatraining + qaothers + qaweb + qaab


    locgameobj = locprojects[:locWoWtime] + locprojects[:locsc2time] + locprojects[:locherotime] + locprojects[:locd3time] + locprojects[:locoverwatchtime] + locprojects[:lochstime]
    locmeeting = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_meeting")
    loctraining = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_training")
    locothers = Qaeod.where(created_at: dateStart..dateEnd, game_id: 7).sum("mis_others")
    locweb = locprojects[:locwebtime]
    locab = locprojects[:locab]
    loctotal = locgameobj + locmeeting + loctraining + locothers + locweb + locab

    pstotal = qatotal + loctotal
    loctotalp =  (loctotal/pstotal*100).round(1)
    qatotalp = (qatotal/pstotal*100).round(1)


   # qagameobjp = (qagameobj/qatotal*100).round(1)
    qameetingp = (qameeting/qatotal*100).round(1)
    qatrainingp = (qatraining/qatotal*100).round(1)
    qaothersp = (qaothers/qatotal*100).round(1)
    qawebp = (qaweb/qatotal*100).round(1)
    #qaabp = number_to_percentage(qaab/qatotal*100, precision: 2)
    qaabp = (qaab/qatotal*100).round(1)
    qawowtimep = (qaprojects[:qaWoWtime]/qatotal*100).round(1)
    qahstimep = (qaprojects[:qahstime]/qatotal*100).round(1)
    qasc2timep = (qaprojects[:qasc2time]/qatotal*100).round(1)
    qaherotimep = ( qaprojects[:qaherotime]/qatotal*100).round(1)
    qad3timep = (qaprojects[:qad3time]/qatotal*100).round(1)
    qaowtimep = (qaprojects[:qaoverwatchtime]/qatotal*100).round(1)


    locmeetingp = (locmeeting/loctotal*100).round(1)
    loctrainingp = (loctraining/loctotal*100).round(1)
    locothersp = (locothers/loctotal*100).round(1)
    locwebp = (locweb/loctotal*100).round(1)
    locabp = (locab/loctotal*100).round(1)
    locwowtimep = (locprojects[:locWoWtime]/loctotal*100).round(1)
    lochstimep = (locprojects[:lochstime]/loctotal*100).round(1)
    locsc2timep = (locprojects[:locsc2time]/loctotal*100).round(1)
    locherotimep = ( locprojects[:locherotime]/loctotal*100).round(1)
    locd3timep = (locprojects[:locd3time]/loctotal*100).round(1)
    locowtimep = (locprojects[:locoverwatchtime]/loctotal*100).round(1)


    psgameobj = qagameobj + locgameobj
    fwowtime = qaprojects[:qaWoWtime] + locprojects[:locWoWtime]
    fhstime = qaprojects[:qahstime] + locprojects[:lochstime]
    fsc2time =  qaprojects[:qasc2time] + locprojects[:locsc2time]
    fherotime =  qaprojects[:qaherotime] + locprojects[:locherotime]
    fd3time = qaprojects[:qad3time] + locprojects[:locd3time]
    fowtime =  qaprojects[:qaoverwatchtime] + locprojects[:locoverwatchtime]
    fwowtimep = (fwowtime /psgameobj*100).round(1)
    fhstimep = (fhstime /psgameobj*100).round(1)
    fsc2timep = (fsc2time /psgameobj*100).round(1)
    fherotimep = (fherotime /psgameobj*100).round(1)
    fd3timep = (fd3time/psgameobj*100).round(1)
    fowtimep = (fowtime/psgameobj*100).round(1)

 
   %>
<%
qaingameprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0}
qanongameprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0}
      qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Bug_Management_H","Audio_QA_H","vpp_H","Project_Management_H"]
      qanongametasks = ["N_Review_H", "N_QA_H", "N_Bug_Management_H","N_vpp_H"]


     
    i=0
      qaingameprojects.each do |key,value|
        qaingametasks.each do |qt|
          qaingameprojects[key] = qaingameprojects[key] + Qaeod.where(date: dateStart..dateEnd, game_id: i).sum(qt)
        end
        i=i+1
      end

    qaingame = 0
    qaingameprojects.each do |key,value|
      qaingame = qaingame + value
    end


    i=0
      qanongameprojects.each do |key,value|
        qanongametasks.each do |qt|
          qanongameprojects[key] = qanongameprojects[key] + Qaeod.where(date: dateStart..dateEnd, game_id: i).sum(qt)
        end
        i=i+1
      end

    qanongame = 0
    qanongameprojects.each do |key,value|
      qanongame = qanongame + value
    end


  
      locingameprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0}
      locnongameprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0}
      locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
      locnongametasks = ["N_Review_H","N_translation_H","N_bugfix_H","N_vpp_H"]
      

    i=0
      locingameprojects.each do |key, value|
        locingametasks.each do |lt|
          locingameprojects[key] = locingameprojects[key] + Loceod.where(date: dateStart..dateEnd, game_id: i).sum(lt) 
        end
        i=i+1
      end

    locingame = 0
    locingameprojects.each do |key,value|
      locingame = locingame + value
    end


    i=0
      locnongameprojects.each do |key, value|
        locnongametasks.each do |lt|
          locnongameprojects[key] = locnongameprojects[key] + Loceod.where(date: dateStart..dateEnd, game_id: i).sum(lt) 
        end
        i=i+1
      end
    locnongame = 0
    locnongameprojects.each do |key,value|
      locnongame = locnongame + value
    end

    ingame = qaingame + locingame
    nongame = locnongame + qanongame

    pgame = ingame + nongame

    ingamep = (ingame / (ingame + nongame)*100).round(1)
    nongamep = (nongame / (ingame + nongame)*100).round(1)

    locingamep = (locingame / (ingame + nongame)*100).round(1)
    qaingamep = (qaingame / (ingame + nongame)*100).round(1)
    qanongamep = (qanongame / (ingame + nongame)*100).round(1)
    locnongamep = (locnongame / (ingame + nongame)*100).round(1)

    locwowingamep = (locingameprojects[:locWoWtime] / pgame*100).round(1)
    locsc2ingamep = (locingameprojects[:locsc2time] / pgame*100).round(1)
    lochsingamep = (locingameprojects[:lochstime] / pgame*100).round(1)
    locowingamep = (locingameprojects[:locoverwatchtime] / pgame*100).round(1)
    locd3ingamep = (locingameprojects[:locd3time] / pgame*100).round(1)
    locheroingamep = (locingameprojects[:locherotime] / pgame*100).round(1)


    locwownongamep =  (locnongameprojects[:locWoWtime] / pgame*100).round(1)
    locsc2nongamep =  (locnongameprojects[:locsc2time] / pgame*100).round(1)
    lochsnongamep =  (locnongameprojects[:lochstime] / pgame*100).round(1)
    locownongamep =  (locnongameprojects[:locoverwatchtime] / pgame*100).round(1)
    locd3nongamep =  (locnongameprojects[:locd3time] / pgame*100).round(1)
    locheronongamep =  (locnongameprojects[:locherotime] / pgame*100).round(1)





%>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">





<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>LOC vs QA </th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>wowLoc</td>
      <td><%=locprojects[:locWoWtime]%></td>
      <td><%=locwowp%>%</td>
    </tr>
    <tr class="info">
      <td>wowQA</td>
      <td><%=qaprojects[:qaWoWtime]%></td>
      <td><%=qawowp%>%</td>
    </tr>
    <tr class="info">
      <td>sc2Loc</td>
      <td><%=locprojects[:locsc2time]%></td>
      <td><%=locsc2p%>%</td>
    </tr>
    <tr class="info">
      <td>sc2QA</td>
      <td><%=qaprojects[:qasc2time]%></td>
      <td><%=qasc2p%>%</td>
    </tr>
    <tr class="info">
      <td>heroLoc</td>
      <td><%=locprojects[:locherotime]%></td>
      <td><%=locherop%>%</td>
    </tr>
    <tr class="info">
      <td>heroQA</td>
      <td><%=qaprojects[:qaherotime]%></td>
      <td><%=qaherop%>%</td>
    </tr>
    <tr class="info">
      <td>d3Loc</td>
      <td><%=locprojects[:locd3time]%></td>
      <td><%=locd3p%>%</td>
    </tr>
    <tr class="info">
      <td>d3QA</td>
      <td><%=qaprojects[:qad3time]%></td>
      <td><%=qad3p%>%</td>
    </tr>
    <tr class="info">
      <td>owLoc</td>
      <td><%=locprojects[:locoverwatchtime]%></td>
      <td><%=locowp%>%</td>
    </tr>
    <tr class="info">
      <td>owQA</td>
      <td><%=qaprojects[:qaoverwatchtime]%></td>
      <td><%=qaowp%>%</td>
    </tr>
    <tr class="info">
      <td>hsLoc</td>
      <td><%=locprojects[:lochstime]%></td>
      <td><%=lochsp%>%</td>
    </tr>
    <tr class="info">
      <td>hsQA</td>
      <td><%=qaprojects[:qahstime]%></td>
      <td><%=qahsp%>%</td>
    </tr>
  </tbody>
</table>

<div id="containerwowlocqa" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>



 <script type="text/javascript">
$(function () {
    $('#containerwowlocqa').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: ' LOC vs QA    '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: ' LOC vs QA   ',
            data: [
                ['WoWQA',    <%=qawowp%>],
                ['sc2QA',    <%=qasc2p%>],
                ['heroQA',    <%=qaherop%>],
                ['d3QA',    <%=qad3p%>],
                ['owQA',    <%=qaowp%>],
                ['hsQA',    <%=qahsp%>],
                ['sc2Loc',    <%=locsc2p%>],
                ['heroLoc',    <%=locherop%>],
                ['d3Loc',    <%=locd3p%>],
                ['owLoc',    <%=locowp%>],
                ['hsLoc',    <%=lochsp%>],
                {
                    name: 'WoWLoc',
                    y: <%=locwowp%>,
                    sliced: true,
                    selected: true
                },
               
    
            ]
        }]
    });
});

    </script>



  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>In-game vs Non-game </th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>In-game</td>
      <td><%=ingame%></td>
      <td><%=ingamep%>%</td>
    </tr>
    <tr class="info">
      <td>Non-game</td>
      <td><%=nongame%></td>
      <td><%=nongamep%>%</td>
    </tr>
    <tr class="info">
      <td>QA-In-game</td>
      <td><%=qaingame%></td>
      <td><%=qaingamep%>%</td>
    </tr>
    <tr class="info">
      <td>Loc-In-game</td>
      <td><%=locingame%></td>
      <td><%=locingamep%>%</td>
    </tr>
    <tr class="info">
      <td>QA-Non-game</td>
      <td><%=qanongame%></td>
      <td><%=qanongamep%>%</td>
    </tr>
    <tr class="info">
      <td>Loc-Non-game</td>
      <td><%=locnongame%></td>
      <td><%=locnongamep%>%</td>
    </tr>
  </tbody>
</table>

<div id="containerinornongame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>



 <script type="text/javascript">
$(function () {
    $('#containerinornongame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'In-game vs Non-game'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'In-game vs Non-game',
            data: [
                ['QA-In-game',    <%=qaingamep%>],
                ['QA-Non-game',    <%=qanongamep%>],
                ['Loc-In-game',    <%=locingamep%>],
                {
                    name: 'Loc-Non-game',
                    y: <%=locnongamep%>,
                    sliced: true,
                    selected: true
                },
               
    
            ]
        }]
    });
});

    </script>
    </div>
  </div>
</div>