  <%

  		qaprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0, qamis: 0, qaab: 0}
  		qatasks = ["Pre_QA_H","Review_H", "QA_H", "Bug_Management_H","Audio_QA_H","N_Review_H", "N_QA_H", "N_Bug_Management_H", "Project_Management_H", "Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
  	
       
    i=0
  		qaprojects.each do |key,value|
  			qatasks.each do |qt|
  				qaprojects[key] = qaprojects[key] + Qaeod.where(date: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(qt)
        end
  			i=i+1
  		end


  		locprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0, locmis: 0, locab: 0}
  		loctasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" ,"polish_H" ,"N_Review_H","N_translation_H","N_bugfix_H","Project_Management_H","Other_H","mis_meeting","mis_training","mis_others","ab_sickleave","ab_shiftleave","ab_annualleave","ab_holiday","ab_others","vpp_H","N_vpp_H"]
  		

		i=0
  		locprojects.each do |key, value|
  			loctasks.each do |lt|
  				locprojects[key] = locprojects[key] + Loceod.where(date: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(lt) 
        end
  			i=i+1
  		end

  		webtime = qaprojects[:qawebtime] + locprojects[:locwebtime]
 		wowtime = qaprojects[:qaWoWtime] + locprojects[:locWoWtime]
 		sc2time =  qaprojects[:qasc2time] + locprojects[:locsc2time]
 		herotime = qaprojects[:qaherotime] + locprojects[:locherotime]
 		d3time = qaprojects[:qad3time] + locprojects[:locd3time]
 		owtime = qaprojects[:qaoverwatchtime] + locprojects[:locoverwatchtime]
 		hstime = qaprojects[:qahstime] + locprojects[:lochstime]


    qagameobj = qaprojects[:qaWoWtime] + qaprojects[:qasc2time] + qaprojects[:qaherotime] + qaprojects[:qad3time] + qaprojects[:qaoverwatchtime] + qaprojects[:qahstime]
    qameeting = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_meeting")
    qatraining = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_training")
    qaothers = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_others")
    qaweb = qaprojects[:qawebtime]
    qaab = qaprojects[:qaab]
    qatotal = qagameobj + qameeting + qatraining + qaothers + qaweb + qaab


    locgameobj = locprojects[:locWoWtime] + locprojects[:locsc2time] + locprojects[:locherotime] + locprojects[:locd3time] + locprojects[:locoverwatchtime] + locprojects[:lochstime]
    locmeeting = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_meeting")
    loctraining = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_training")
    locothers = Qaeod.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month, game_id: 7).sum("mis_others")
    locweb = locprojects[:locwebtime]
    locab = locprojects[:locab]
    loctotal = locgameobj + locmeeting + loctraining + locothers + locweb + locab

    pstotal = qatotal + loctotal
    loctotalp =  (loctotal/pstotal*100).round(1)
    qatotalp = (qatotal/pstotal*100).round(1)


   # qagameobjp = (qagameobj/qatotal*100).round(1)
    qameetingp = (qameeting/qatotal*100).round(1)
    qatrainingp = (qatraining/qatotal*100).round(1)
    qaothersp = (qaothers/qatotal*100).round(1)
    qawebp = (qaweb/qatotal*100).round(1)
    #qaabp = number_to_percentage(qaab/qatotal*100, precision: 2)
    qaabp = (qaab/qatotal*100).round(1)
    qawowtimep = (qaprojects[:qaWoWtime]/qatotal*100).round(1)
    qahstimep = (qaprojects[:qahstime]/qatotal*100).round(1)
    qasc2timep = (qaprojects[:qasc2time]/qatotal*100).round(1)
    qaherotimep = ( qaprojects[:qaherotime]/qatotal*100).round(1)
    qad3timep = (qaprojects[:qad3time]/qatotal*100).round(1)
    qaowtimep = (qaprojects[:qaoverwatchtime]/qatotal*100).round(1)


    locmeetingp = (locmeeting/loctotal*100).round(1)
    loctrainingp = (loctraining/loctotal*100).round(1)
    locothersp = (locothers/loctotal*100).round(1)
    locwebp = (locweb/loctotal*100).round(1)
    locabp = (locab/loctotal*100).round(1)
    locwowtimep = (locprojects[:locWoWtime]/loctotal*100).round(1)
    lochstimep = (locprojects[:lochstime]/loctotal*100).round(1)
    locsc2timep = (locprojects[:locsc2time]/loctotal*100).round(1)
    locherotimep = ( locprojects[:locherotime]/loctotal*100).round(1)
    locd3timep = (locprojects[:locd3time]/loctotal*100).round(1)
    locowtimep = (locprojects[:locoverwatchtime]/loctotal*100).round(1)


    psgameobj = qagameobj + locgameobj
    fwowtime = qaprojects[:qaWoWtime] + locprojects[:locWoWtime]
    fhstime = qaprojects[:qahstime] + locprojects[:lochstime]
    fsc2time =  qaprojects[:qasc2time] + locprojects[:locsc2time]
    fherotime =  qaprojects[:qaherotime] + locprojects[:locherotime]
    fd3time = qaprojects[:qad3time] + locprojects[:locd3time]
    fowtime =  qaprojects[:qaoverwatchtime] + locprojects[:locoverwatchtime]
    fwowtimep = (fwowtime /psgameobj*100).round(1)
    fhstimep = (fhstime /psgameobj*100).round(1)
    fsc2timep = (fsc2time /psgameobj*100).round(1)
    fherotimep = (fherotime /psgameobj*100).round(1)
    fd3timep = (fd3time/psgameobj*100).round(1)
    fowtimep = (fowtime/psgameobj*100).round(1)

 
   %>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

<table class="table" contenteditable="true">
  <thead>
    <tr>
      <th>Finance Monthly Report</th>
      <th>WoW</th>
      <th>Hearthstone</th>
      <th>SCII</th>
      <th>heros</th>
      <th>DIII</th>
      <th>Overwatch</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>hours</td>
      <td><%= wowtime %></td>
      <td><%= hstime %></td>
      <td><%= sc2time %></td>
      <td><%= herotime %></td>
      <td><%= d3time %></td>
      <td><%= owtime %></td>
    </tr>
    <tr class="info">
      <td>Percentage</td>
      <td><%= fwowtimep %>%</td>
      <td><%= fhstimep %>%</td>
      <td><%= fsc2timep %>%</td>
      <td><%= fherotimep %>%</td>
      <td><%= fd3timep %>%</td>
      <td><%= fowtimep %>%</td>
    </tr>
  </tbody>
</table>


<table class="table" contenteditable="true">
   <thead>
      <tr >
         <th>QA</th>
         <th><span style="font-weight: normal;">Hours</span></th>
         <th><span style="font-weight: normal;">%</span></th>
      </tr>
   </thead>
   <tbody>
      <tr class="info">
         <td>WoW</td>
         <td><%=qaprojects[:qaWoWtime]%></td>
         <td><%=qawowtimep%>%</td>
      </tr>
      <tr class="info">
         <td>Hearthstone</td>
         <td><%=qaprojects[:qahstime]%></td>
         <td><%=qahstimep%>%</td>
      </tr>
      <tr class="info">
         <td>SCII</td>
         <td><%=qaprojects[:qasc2time]%></td>
         <td><%=qasc2timep%>%</td>
      </tr>
      <tr class="info">
         <td>heros</td>
         <td><%=qaprojects[:qaherotime]%></td>
         <td><%=qaherotimep%>%</td>
      </tr>
      <tr class="info">
         <td>DIII</td>
         <td><%=qaprojects[:qad3time]%></td>
         <td><%=qad3timep%>%</td>
      </tr>
      <tr class="info">
         <td>Overwatch</td>
         <td><%=qaprojects[:qaoverwatchtime]%></td>
         <td><%=qaowtimep%>%</td>
      </tr>
    




      <tr class="info">
         <td>Web</td>
         <td><%=qaweb%></td>
         <td><%=qawebp%>%</td>
      </tr>
      <tr class="info">
         <td>Meeting</td>
         <td><%=qameeting%></td>
         <td><%=qameetingp%>%</td>
      </tr>
      <tr class="info">
         <td>Training</td>
         <td><%=qatraining%></td>
         <td><%=qatrainingp%>%</td>
      </tr>
      <tr class="info">
         <td>Absence</td>
         <td><%=qaab%></td>
         <td><%=qaabp%>%</td>
      </tr>
      <tr class="info">
         <td>Other</td>
         <td><%=qaothers%></td>
         <td><%=qaothersp%>%</td>
      </tr>
   </tbody>
</table>




<div id="containerqa" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

  
    <script type="text/javascript">
$(function () {
    $('#containerqa').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'QA Overview'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'QA Overview',
            data: [
                 ['web',   <%=qawebp%>],
                ['Hearthstone',   <%=qahstimep%>],
                ['SCII',   <%=qasc2timep%>],
                ['heros',   <%=qaherotimep%>],
                ['DIII',   <%=qad3timep%>],
                ['Overwatch',   <%=qaowtimep%>],
                {
                    name: 'WoW',
                    y: <%=qawowtimep%>,
                    sliced: true,
                    selected: true
                },
                ['Meeting',    <%=qameetingp%>],
                ['Training',    <%=qatrainingp%>],
                ['Absence',  <%=qaabp%>],
                ['Others',  <%=qaothersp%>],
            ]
        }]
    });
});

    </script>



<table class="table" contenteditable="true">
   <thead>
      <tr >
         <th>Loc</th>
         <th><span style="font-weight: normal;">Hours</span></th>
         <th><span style="font-weight: normal;">%</span></th>
      </tr>
   </thead>
   <tbody>
      <tr class="info">
         <td>WoW</td>
         <td><%=locprojects[:locWoWtime]%></td>
         <td><%=locwowtimep%>%</td>
      </tr>
      <tr class="info">
         <td>Hearthstone</td>
         <td><%=locprojects[:lochstime]%></td>
         <td><%=lochstimep%>%</td>
      </tr>
      <tr class="info">
         <td>SCII</td>
         <td><%=locprojects[:locsc2time]%></td>
         <td><%=locsc2timep%>%</td>
      </tr>
      <tr class="info">
         <td>heros</td>
         <td><%=locprojects[:locherotime]%></td>
         <td><%=locherotimep%>%</td>
      </tr>
      <tr class="info">
         <td>DIII</td>
         <td><%=locprojects[:locd3time]%></td>
         <td><%=locd3timep%>%</td>
      </tr>
      <tr class="info">
         <td>Overwatch</td>
         <td><%=locprojects[:locoverwatchtime]%></td>
         <td><%=locowtimep%>%</td>
      </tr>
    




      <tr class="info">
         <td>Web</td>
         <td><%=locweb%></td>
         <td><%=locwebp%>%</td>
      </tr>
      <tr class="info">
         <td>Meeting</td>
         <td><%=locmeeting%></td>
         <td><%=locmeetingp%>%</td>
      </tr>
      <tr class="info">
         <td>Training</td>
         <td><%=loctraining%></td>
         <td><%=loctrainingp%>%</td>
      </tr>
      <tr class="info">
         <td>Absence</td>
         <td><%=locab%></td>
         <td><%=locabp%>%</td>
      </tr>
      <tr class="info">
         <td>Other</td>
         <td><%=locothers%></td>
         <td><%=locothersp%>%</td>
      </tr>
   </tbody>
</table>
<div id="containerloc" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>



 <script type="text/javascript">
$(function () {
    $('#containerloc').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Loc Overview'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Loc Overview',
            data: [
                 ['web',   <%=locwebp%>],
                ['Hearthstone',   <%=lochstimep%>],
                ['SCII',   <%=locsc2timep%>],
                ['heros',   <%=locherotimep%>],
                ['DIII',   <%=locd3timep%>],
                ['Overwatch',   <%=locowtimep%>],
                {
                    name: 'WoW',
                    y: <%= locwowtimep%>,
                    sliced: true,
                    selected: true
                },
                ['Meeting',    <%=locmeetingp%>],
                ['Training',    <%=loctrainingp%>],
                ['Absence',  <%=locabp%>],
                ['Others',  <%=locothersp%>],
            ]
        }]
    });
});


    </script>


<table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>LOC vs QA</th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>Loc</td>
      <td><%=loctotal%></td>
      <td><%=loctotalp%>%</td>
    </tr>
    <tr class="info">
      <td>QA</td>
      <td><%=qatotal%></td>
      <td><%=qatotalp%>%</td>
    </tr>
  </tbody>
</table>

<div id="containerlocqa" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>



 <script type="text/javascript">
$(function () {
    $('#containerlocqa').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'LOC vs QA'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'LOC vs QA',
            data: [
                ['QA',    <%=qatotalp%>],
                {
                    name: 'Loc',
                    y: <%=loctotalp%>,
                    sliced: true,
                    selected: true
                },
               
    
            ]
        }]
    });
});

    </script>




<%
qaingameprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0}
qanongameprojects = { qawebtime: 0, qaWoWtime: 0, qasc2time: 0, qahstime: 0, qaoverwatchtime: 0, qad3time: 0, qaherotime: 0}
      qaingametasks = ["Pre_QA_H","Review_H", "QA_H", "Bug_Management_H","Audio_QA_H","vpp_H","Project_Management_H"]
      qanongametasks = ["N_Review_H", "N_QA_H", "N_Bug_Management_H","N_vpp_H"]


     
    i=0
      qaingameprojects.each do |key,value|
        qaingametasks.each do |qt|
          qaingameprojects[key] = qaingameprojects[key] + Qaeod.where(date: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(qt)
        end
        i=i+1
      end

    qaingame = 0
    qaingameprojects.each do |key,value|
      qaingame = qaingame + value
    end


    i=0
      qanongameprojects.each do |key,value|
        qanongametasks.each do |qt|
          qanongameprojects[key] = qanongameprojects[key] + Qaeod.where(date: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(qt)
        end
        i=i+1
      end

    qanongame = 0
    qanongameprojects.each do |key,value|
      qanongame = qanongame + value
    end


  
      locingameprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0}
      locnongameprojects = {locwebtime: 0, locWoWtime: 0, locsc2time: 0, lochstime: 0, locoverwatchtime: 0, locd3time: 0, locherotime: 0}
      locingametasks = ["familiarization_H","Review_H","translation_H","bugfix_H","audiodelivery_H", "audioonsite_H" , "polish_H", "vpp_H" ,"Project_Management_H"]
      locnongametasks = ["N_Review_H","N_translation_H","N_bugfix_H","N_vpp_H"]
      

    i=0
      locingameprojects.each do |key, value|
        locingametasks.each do |lt|
          locingameprojects[key] = locingameprojects[key] + Loceod.where(date: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(lt) 
        end
        i=i+1
      end

    locingame = 0
    locingameprojects.each do |key,value|
      locingame = locingame + value
    end


    i=0
      locnongameprojects.each do |key, value|
        locnongametasks.each do |lt|
          locnongameprojects[key] = locnongameprojects[key] + Loceod.where(date: Date.today.beginning_of_month..Date.today.end_of_month, game_id: i).sum(lt) 
        end
        i=i+1
      end
    locnongame = 0
    locnongameprojects.each do |key,value|
      locnongame = locnongame + value
    end

    ingame = qaingame + locingame
    nongame = locnongame + qanongame

    ingamep = (ingame / (ingame + nongame)*100).round(1)
    nongamep = (nongame / (ingame + nongame)*100).round(1)

%>

  <table class="table" contenteditable="true">
  <thead>
    <tr class="info">
      <th>In-game vs Non-game </th>
      <th>Hours</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>In-game</td>
      <td><%=ingame%></td>
      <td><%=ingamep%>%</td>
    </tr>
    <tr class="info">
      <td>Non-game</td>
      <td><%=nongame%></td>
      <td><%=nongamep%>%</td>
    </tr>
  </tbody>
</table>

<div id="containerinornongame" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>



 <script type="text/javascript">
$(function () {
    $('#containerinornongame').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'In-game vs Non-game'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'In-game vs Non-game',
            data: [
                ['In-game',    <%=ingamep%>],
                {
                    name: 'Non-game',
                    y: <%=nongamep%>,
                    sliced: true,
                    selected: true
                },
               
    
            ]
        }]
    });
});

    </script>
    </div>
  </div>
</div>