<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
<div class="container">
  <div class="row">



<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>



<% if @user.role == "Admin" %>
     <%= render 'sv' %>
     <%= link_to 'New user', new_user_path %>
     

  <% else %>

<%= form_for :eod, url: user_path(@user) do |f| %>
  <select  name="smonth" id="smonth">
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      </select>
<input type="submit" name="commit" value="Change Month" />
<% end %>

<%= render 'calender' %>

<% end %>
 


<%= link_to 'Back', users_path %>



</HTML>