<!DOCTYPE html>
<html>
   <head>
   </head>
   <body>
<div class="container">
  <div class="row">



<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>



<% if @user.role == "SV" %>
     <%= render 'sv' %>
     <%= link_to 'New user', new_user_path %>
     

  <% else %>

<%= form_for :eod, url: new_user_eod_path(@user) do |f| %>   


<input type="Date" name="eod[date]" id="eod_date" value="<%= Date.today %>"/>
<input type="submit" name="commit" value="Try Eod" />
<%= render 'calender' %>
<% end %>
<% end %>
 


<%= link_to 'Back', users_path %>

</HTML>