<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
    <%= f.label :id %><br>
    <%= f.text_field :id %>
    </p>
    <p>
    <%= f.label "Project Name" %><br>
    <%= f.text_field :objname %>
    </p>
    <%= f.submit %>
  </div>
<% end %>
