<%= form_for @eod, url: user_eod_path(@eod.user,@eod), method: :patch do |f| %>
 
  <% if @eod.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@eod.errors.count, "error") %> prohibited
        this eod from being saved:
      </h2>
      <ul>
        <% @eod.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>