<%= form_for ([@user,@eod]) do |e| %>
<% if @eod.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@eod.errors.count, "error") %> prohibited
        this eod from being saved:
      </h2>
      <ul>
        <% @eod.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<input type="hidden" name="eod[date]" id="eod_date" value=<%= @eod.date %>> 
<% mdays = (@eod.date - Date.today).to_i  %>
<%    if   (mdays < -3) %> 
<input type="hidden" name="eod[miss]" id="eod_miss" value=1> 
<%  else %> 
<input type="hidden" name="eod[miss]" id="eod_miss" value=0> 
<% end %> 



  projects:
<%  
  projects = [] 
  @games.each do |game|
    projects.push([game.id,game.objname])
  end
%>

     <%  i=0  %>
  <ul>
    <%= e.fields_for :loceods do |f| %>

      <li>

          <% case i %>
            <% when 0 %>
           <DIV style="cursor:hand" onclick="isHidden('<%=projects[i][1]%>')"><input type="checkbox" /><%=projects[i][1]%></DIV>
               <div class="container-fluid" id="<%=projects[i][1]%>" style="display:none">
                  Milestone: <select  name="eod[loceods_attributes][<%=projects[i][0]%>][milestone]" id="eod_loceods_attributes_<%=projects[i][0]%>_milestone"> <option value= 0>N/A</option>
         <% milestones = Milestone.where(game_id: projects[i][0]) 
            milestones.each do |m|
         %>
    
              <option value="<%=m.id%>"><%=m.milestone%></option>

         <%end%>
         </select>
               <table class="table table-hover table-striped">
                  <thead>
                     <tr class="warning">
                        <th colspan="2" rowspan="1">Loc</th>
                        <th>Hours</th>
                        <th colspan="2">Amount</th>
                        <th>Notes</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="warning">
                        <td rowspan="5"><span>Web<input id="eod_loceods_attributes_<%=i%>_game_id" name="eod[loceods_attributes][<%=i%>][game_id]" type="hidden" value=0 ></span></td>
                        <input type="hidden" name="eod[loceods_attributes][<%=i%>][date]" id="eod_loceods_attributes_<%=i%>_date" value=<%= @eod.date %>> 
                        <td>Familiarization</td>
                        <td><%= f.text_field :familiarization_H %></td>
                        <td colspan="2"><%= f.text_field :familiarization %></td>
                        <td><%= f.text_field :familiarization_N %></td>
                     </tr>
                     <tr class="warning">
                        <td>Review</td>
                        <td><%= f.text_field :Review_H %></td>
                        <td colspan="2"><%= f.text_field :Review %></td>
                        <td><%= f.text_field :Review_N %></td>
                     </tr>
                     <tr class="warning">
                        <td>Translation</td>
                        <td><%= f.text_field :translation_H %></td>
                        <td colspan="2"><%= f.text_field :translation %></td>
                        <td><%= f.text_field :translation_N %></td>
                     </tr>
                     <tr class="warning">
                        <td>Bug-fixing</td>
                        <td><%= f.text_field :bugfix_H %></td>
                        <td colspan="2"><%= f.text_field :bugfix %></td>
                        <td><%= f.text_field :bugfix_N %></td>
                     </tr>
                     <tr class="warning">
                        <td colspan="1">Project Management</td>
                        <td><%= f.text_field :Project_Management_H %></td>
                        <td colspan="2"><%= f.text_field :Project_Management %></td>
                        <td><%= f.text_field :Project_Management_N %></td>
                     </tr>
                  </tbody>
               </table>

      <% when 7 %>
   <DIV style="cursor:hand" onclick="isHidden('<%=projects[i][1]%>')"><input type="checkbox" /><%=projects[i][1]%></DIV>
         <div class="container-fluid" id="<%=projects[i][1]%>" style="display:none">
             Milestone: <select  name="eod[loceods_attributes][<%=projects[i][0]%>][milestone]" id="eod_loceods_attributes_<%=projects[i][0]%>_milestone"> <option value= 0>N/A</option>
         <% milestones = Milestone.where(game_id: projects[i][0]) 
            milestones.each do |m|
         %>
    
              <option value="<%=m.id%>"><%=m.milestone%></option>

         <%end%>
         </select>
              <table class="table table-bordered" contenteditable="true">
            <thead>
               <tr class="warning">
                  <th colspan="2" rowspan="1"><span style="font-weight: normal;">Loc</span></th>
                  <th><span style="font-weight: normal;">Hours</span></th>
                  <th><span style="font-weight: normal;">Notes</span></th>
               </tr>
            </thead>
            <tbody>
               <tr class="warning">
                  <td rowspan="3"><%=projects[i][1]%><span><input id="eod_loceods_attributes_<%=i%>_game_id" name="eod[loceods_attributes][<%=i%>][game_id]" type="hidden" value="<%=i%>" /></span></td>
                  <input type="hidden" name="eod[loceods_attributes][<%=i%>][date]" id="eod_loceods_attributes_<%=i%>_date" value=<%= @eod.date %>> 
                  <td>Meeting</td>
                  <td><%= f.text_field :mis_meeting%></td>
                  <td><%= f.text_field :mis_meeting_N%></td>
               </tr>
               <tr class="warning">
                  <td>Training</td>
                  <td><%= f.text_field :mis_training%></td>
                  <td><span style="background-color: rgb(252, 248, 227);"><%= f.text_field :mis_training_N%></span></td>
               </tr>
               <tr class="warning">
                  <td>Others</td>
                  <td><%= f.text_field :mis_others%></td>
                  <td><%= f.text_field :mis_others_N%></td>
               </tr>
            </tbody>
         </table>

                           
   <% when 8 %>
    <DIV style="cursor:hand" onclick="isHidden('<%=projects[i][1]%>')"><input type="checkbox" /><%=projects[i][1]%></DIV>
      <div class="container-fluid" id="<%=projects[i][1]%>" style="display:none">
          Milestone: <select  name="eod[loceods_attributes][<%=projects[i][0]%>][milestone]" id="eod_loceods_attributes_<%=projects[i][0]%>_milestone"> <option value= 0>N/A</option>
         <% milestones = Milestone.where(game_id: projects[i][0]) 
            milestones.each do |m|
         %>
    
              <option value="<%=m.id%>"><%=m.milestone%></option>

         <%end%>
         </select>
      <table class="table table-bordered" contenteditable="true">
         <thead>
            <tr class="warning">
               <th colspan="2" rowspan="1"><span style="font-weight: normal;">Loc</span></th>
               <th><span style="font-weight: normal;">Hours</span></th>
               <th><span style="font-weight: normal;">Notes</span></th>
            </tr>
         </thead>
         <tbody>
            <tr class="warning">
               <td colspan="1" rowspan="5"><%=projects[i][1]%><span><input id="eod_loceods_attributes_<%=i%>_game_id" name="eod[loceods_attributes][<%=i%>][game_id]" type="hidden" value="<%=i%>" /></span></td>
               <input type="hidden" name="eod[loceods_attributes][<%=i%>][date]" id="eod_loceods_attributes_<%=i%>_date" value=<%= @eod.date %>> 
               <td>Sick Leave</td>
               <td><%= f.text_field :ab_sickleave%></td>
               <td><%= f.text_field :ab_sickleave_N%></td>
            </tr>
            <tr class="warning">
               <td>Shift Leave</td>
               <td><%= f.text_field :ab_shiftleave%></td>
               <td><%= f.text_field :ab_shiftleave_N%></td>
            </tr>
            <tr class="warning">
               <td>Annual Leave</td>
               <td><%= f.text_field :ab_annualleave%></td>
               <td><%= f.text_field :ab_annualleave_N%></td>
            </tr>
            <tr class="warning">
               <td>Holiday</td>
               <td><%= f.text_field :ab_holiday%></td>
               <td><%= f.text_field :ab_holiday_N%></td>
            </tr>
            <tr class="warning">
               <td>Others</td>
               <td><%= f.text_field :ab_others%></td>
               <td><%= f.text_field :ab_others_N%></td>
            </tr>
         </tbody>
      </table>


            <% else %>

 <DIV style="cursor:hand" onclick="isHidden('<%=projects[i][1]%>')"><input type="checkbox" /><%=projects[i][1]%></DIV>
<div class="container-fluid" id="<%=projects[i][1]%>" style="display:none">
    Milestone: <select  name="eod[loceods_attributes][<%=projects[i][0]%>][milestone]" id="eod_loceods_attributes_<%=projects[i][0]%>_milestone"> <option value= 0>N/A</option>
         <% milestones = Milestone.where(game_id: projects[i][0]) 
            milestones.each do |m|
         %>
    
              <option value="<%=m.id%>"><%=m.milestone%></option>

         <%end%>
         </select>
         <table class="table table-hover table-striped">
            <thead>
               <tr class="warning">
                  <th colspan="3" rowspan="1"><span style="font-weight: normal;">Loc</span></th>
                  <th><span style="font-weight: normal;">Hours</span></th>
                  <th colspan="2"><span style="font-weight: normal;">Amount</span></th>
                  <th><span style="font-weight: normal;">Notes</span></th>
               </tr>
            </thead>
            <tbody>
               <tr class="warning">
                  <td rowspan="14"><span><%=projects[i][1]%><input id="eod_loceods_attributes_<%=i%>_game_id" name="eod[loceods_attributes][<%=i%>][game_id]" type="hidden" value="<%=i%>" /></span></td>
                  <input type="hidden" name="eod[loceods_attributes][<%=i%>][date]" id="eod_loceods_attributes_<%=i%>_date" value=<%= @eod.date %>> 
                  <td colspan="1" rowspan="8">In-game</td>
                  <td>Familiarization</td>
                  <td><%= f.text_field :familiarization_H %></td>
                  <td colspan="2"><%= f.text_field :familiarization %></td>
                  <td><%= f.text_field :familiarization_N %></td>
               </tr>
               <tr class="warning">
                  <td>Review</td>
                  <td><%= f.text_field :Review_H %></td>
                  <td colspan="2"><%= f.text_field :Review %></td>
                  <td><%= f.text_field :Review_N %></td>
               </tr>
               <tr class="warning">
                  <td>Translation</td>
                  <td><%= f.text_field :translation_H %></td>
                  <td colspan="2"><%= f.text_field :translation %></td>
                  <td><%= f.text_field :translation_N %></td>
               </tr>
               <tr class="warning">
                  <td>Bug-fixing</td>
                  <td><%= f.text_field :bugfix_H %></td>
                  <td colspan="2"><%= f.text_field :bugfix %></td>
                  <td><%= f.text_field :bugfix_N %></td>
               </tr>
               <tr class="warning">
                  <td>Audio-On-Site</td>
                  <td><%= f.text_field :audioonsite_H %></td>
                  <td colspan="2"><%= f.text_field :audioonsite %></td>
                  <td><%= f.text_field :audioonsite_N %></td>
               </tr>
               <tr class="warning">
                  <td>Audio-Delivery</td>
                  <td><%= f.text_field :audiodelivery_H %></td>
                  <td colspan="2"><%= f.text_field :audiodelivery %></td>
                  <td><%= f.text_field :audiodelivery_N %></td>
               </tr>
               <tr class="warning">
                  <td>In-game Polishing</td>
                  <td><%= f.text_field :polish_H %></td>
                  <td colspan="2"><%= f.text_field :polish %></td>
                  <td><%= f.text_field :polish_N %></td>
               </tr>
               <tr class="warning">
                  <td>vpp</td>
                  <td><%= f.text_field :vpp_H%></td>
                  <td colspan="2"><%= f.text_field :vpp%></td>
                  <td><%= f.text_field :vpp_N%></td>
               </tr>
               <tr class="warning">
                  <td colspan="1" rowspan="4">Non-game</td>
                  <td>Review</td>
                  <td><%= f.text_field :N_Review_H %></td>
                  <td colspan="2"><%= f.text_field :N_Review %></td>
                  <td><%= f.text_field :N_Review_N %></td>
               </tr>
               <tr class="warning">
                  <td>Translation</td>
                  <td><%= f.text_field :N_translation_H %></td>
                  <td colspan="2"><%= f.text_field :N_translation %></td>
                  <td><%= f.text_field :N_translation_N %></td>
               </tr>
               <tr class="warning">
                  <td>Bug Fixing</td>
                  <td><%= f.text_field :N_bugfix_H %></td>
                  <td colspan="2"><%= f.text_field :N_bugfix %></td>
                  <td><%= f.text_field :N_bugfix_N %></td>
               </tr>
               <tr class="warning">
                  <td>vpp</td>
                  <td><%= f.text_field :N_vpp_H%></td>
                  <td colspan="2"><%= f.text_field :N_vpp%></td>
                  <td><%= f.text_field :N_vpp_N%></td>
               </tr>
               <tr class="warning">
                  <td colspan="2">Project Management</td>
                  <td><%= f.text_field :Project_Management_H %></td>
                  <td colspan="2"><%= f.text_field :Project_Management %></td>
                  <td><%= f.text_field :Project_Management_N %></td>
               </tr>
            </tbody>
         </table>



   <% end %>
      </div>
   <% i = i + 1 %>
      </li>
    <% end %>
  </ul>
   <%= e.submit %>
<% end %>