<%= form_for ([@user,@eod]) do |e| %>
<% if @eod.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@eod.errors.count, "error") %> prohibited
        this eod from being saved:
      </h2>
      <ul>
        <% @eod.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<input type="hidden" name="eod[date]" id="eod_date" value=<%= @eod.date %>> 
<% mdays = (@eod.date - Date.today).to_i  %>
<%    if   (mdays < -3) %> 
<input type="hidden" name="eod[miss]" id="eod_miss" value=1> 
<%  else %> 
<input type="hidden" name="eod[miss]" id="eod_miss" value=0> 
<% end %> 



 projects:
<%  projects = ["WoW","SC2","HearthStone","OverWatch","Diablo3","Heroes"]  %>
     <%  i=0  %>
  <ul>
    <%= e.fields_for :loceods do |f| %>

      <li>

 <DIV style="cursor:hand" onclick="isHidden('<%= projects[i] %>')"><input type="checkbox" /><%= projects[i] %></DIV>
<div class="container-fluid" id="<%= projects[i] %>" style="display:none">
         <table class="table table-hover table-striped">
            <thead>
               <tr class="warning">
                  <th colspan="3" rowspan="1">
                     Loc
                  </th>
                  <th>
                     Hours
                  </th>
                  <th colspan="2">
                     Amount
                  </th>
                  <th>
                     Notes
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr class="warning">
                  <td rowspan="12"><span><%= projects[i] %><input type="hidden" name="eod[qaeods_attributes][0][game_id]" id="eod_qaeods_attributes_0_game_id" value=<%= projects[i] %> /></span></td>
                  <td rowspan="7">
                     In-game
                  </td>
                  <td>
                     Familiarization
                  </td>
                  <td>
                     <%= f.text_field :familiarization_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :familiarization %>
                  </td>
                  <td>
                     <%= f.text_field :familiarization_N %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     Review
                  </td>
                  <td>
                     <%= f.text_field :Review_H  %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :Review  %>
                  </td>
                  <td>
                     <%= f.text_field :Review_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     Translation
                  </td>
                  <td>
                     <%= f.text_field :translation_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :translation %>
                  </td>
                  <td>
                     <%= f.text_field :translation_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     Bug-fixing
                  </td>
                  <td>
                     <%= f.text_field :bugfix_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :bugfix %>
                  </td>
                  <td>
                     <%= f.text_field :bugfix_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     Audio-On-Site
                  </td>
                  <td>
                     <%= f.text_field :audioonsite_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :audioonsite %>
                  </td>
                  <td>
                     <%= f.text_field :audioonsite_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     Audio-Delivery
                  </td>
                  <td>
                     <%= f.text_field :audiodelivery_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :audiodelivery %>
                  </td>
                  <td>
                     <%= f.text_field :audiodelivery_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     In-game Polishing
                  </td>
                  <td>
                     <%= f.text_field :polish_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :polish %>
                  </td>
                  <td>
                     <%= f.text_field :polish_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td rowspan="3">
                     Non-game
                  </td>
                  <td>
                     Review
                  </td>
                  <td>
                     <%= f.text_field :N_Review_H  %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :N_Review  %>
                  </td>
                  <td>
                     <%= f.text_field :N_Review_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     Translation
                  </td>
                  <td>
                     <%= f.text_field :N_translation_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :N_translation %>
                  </td>
                  <td>
                     <%= f.text_field :N_translation_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td>
                     Bug Fixing
                  </td>
                  <td>
                     <%= f.text_field :N_bugfix_H %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :N_bugfix  %>
                  </td>
                  <td>
                     <%= f.text_field :N_bugfix_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td colspan="2">
                     Project Management
                  </td>
                  <td>
                     <%= f.text_field :Project_Management_H  %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :Project_Management  %>
                  </td>
                  <td>
                     <%= f.text_field :Project_Management_N  %>
                  </td>
               </tr>
               <tr class="warning">
                  <td colspan="2">
                     Other
                  </td>
                  <td>
                     <%= f.text_field :Other_H  %>
                  </td>
                  <td colspan="2">
                     <%= f.text_field :Other  %>
                  </td>
                  <td>
                     <%= f.text_field :Other_N  %>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   <% i = i + 1 %>
      </li>
    <% end %>
  </ul>
   <%= e.submit %>
<% end %>