
<%=  form_for([@user, @user.eods.build]) do |f| %>
  <% if @eod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eod.errors.count, "error") %> prohibited this eod from being saved:</h2>

      <ul>
      <% @eod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
    <%= f.label :date %><br>
    <input type="Date" name="eod[date]" id="eod_date" value="<%= @eod.date %>"/>
  </p>
    <%= f.submit %>
  </div>
<% end %>