<%= form_for ([@user,@eod]) do |e| %>
<% if @eod.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@eod.errors.count, "error") %> prohibited
        this eod from being saved:
      </h2>
      <ul>
        <% @eod.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<input type="hidden" name="eod[date]" id="eod_date" value=<%= @eod.date %>> 
<% mdays = (@eod.date - Date.today).to_i  %>
<%    if   (mdays < -3) %> 
<input type="hidden" name="eod[miss]" id="eod_miss" value=1> 
<%  else %> 
<input type="hidden" name="eod[miss]" id="eod_miss" value=0> 
<% end %> 



  projects:
<%  projects = ["web","WoW","SC2","HearthStone","OverWatch","Diablo3","Heroes","Miscellaneous","Absence"]  %>
     <%  i=0  %>
  <ul>
    <%= e.fields_for :qaeods do |f| %>
 <li>
    <% case i %>
    <% when 0 %>
    <DIV style="cursor:hand" onclick="isHidden('web')"><input type="checkbox" />web</DIV>
		<div class="container-fluid" id="web" style="display:none">
		<table class="table table-bordered" contenteditable="true">
			<thead>
				<tr class="warning">
					<th colspan="2" rowspan="1">QA</th>
					<th>Hours</th>
					<th colspan="2" style="width: 24%;">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr class="warning">
					<td rowspan="7"><span>Web<input id="eod_qaeods_attributes_0_game_id" name="eod[qaeods_attributes][0][game_id]" type="hidden" value=0></span></td>
					<td><span>Pre-testing</span></td>
					<td><%= f.text_field :Pre_QA_H %></td>
					<td colspan="2" style="text-align: center;"><%= f.text_field :Pre_QA %></td>
				</tr>
				<tr class="warning">
					<td><span>Review</span></td>
					<td><%= f.text_field :Review_H %></td>
					<td colspan="2" style="text-align: center;"><%= f.text_field :Review %></td>
				</tr>
				<tr class="warning">
					<td><span>Testing</span></td>
					<td><%= f.text_field :QA_H %></td>
					<td colspan="2" style="text-align: center;"><%= f.text_field :QA %></td>
				</tr>
				<tr class="warning">
					<td rowspan="2"><span>Bug Management</span></td>
					<td rowspan="2" style="vertical-align: middle;"><%= f.text_field :Bug_Management_H %></td>
					<td>Report</td>
					<td>Rtest</td>
				</tr>
				<tr class="warning">
					<td style="width: 5%;"><%= f.text_field :Bug_Management_report %></td>
					<td style="width: 5%;"><%= f.text_field :Bug_Management_retest %></td>
				</tr>
				<tr class="warning">
					<td colspan="1"><span>Project Management</span></td>
					<td><%= f.text_field :Project_Management_H %></td>
					<td colspan="2" style="text-align: center;"><%= f.text_field :Project_Management %></td>
				</tr>
				<tr class="warning">
					<td colspan="1"><span>Other</span></td>
					<td><%= f.text_field :Other_H %></td>
					<td colspan="2" style="text-align: center;"><%= f.text_field :Other %></td>
				</tr>
			</tbody>
		</table>								
	<% when 7 %>
   <DIV style="cursor:hand" onclick="isHidden('<%= projects[i] %>')"><input type="checkbox" /><%= projects[i] %></DIV>
			<div class="container-fluid" id="<%= projects[i] %>" style="display:none">
		<table class="table table-bordered" contenteditable="true">
			<thead>
				<tr class="warning">
					<th colspan="2" rowspan="1"><span style="font-weight: normal;">QA</span></th>
					<th><span style="font-weight: normal;">Hours</span></th>
				</tr>
			</thead>
			<tbody>
				<tr class="warning">
					<td rowspan="3"><%=projects[i]%><span><input id="eod_qaeods_attributes_<%=i%>_game_id" name="eod[qaeods_attributes][<%=i%>][game_id]" type="hidden" value="<%=i%>" /></span></td>
					<td>Meeting</td>
					<td><%= f.text_field :mis_meeting%></td>
				</tr>
				<tr class="warning">
					<td>Training</td>
					<td><%= f.text_field :mis_training%></td>
				</tr>
				<tr class="warning">
					<td>Others</td>
					<td><%= f.text_field :mis_others%></td>
				</tr>
			</tbody>
		</table>
									
	<% when 8 %>
    <DIV style="cursor:hand" onclick="isHidden('<%= projects[i] %>')"><input type="checkbox" /><%= projects[i] %></DIV>
		<div class="container-fluid" id="<%= projects[i] %>" style="display:none">
		<table class="table table-bordered" contenteditable="true">
				<thead>
					<tr class="warning">
						<th colspan="2" rowspan="1"><span style="font-weight: normal;">QA</span></th>
						<th><span style="font-weight: normal;">Hours</span></th>
					</tr>
				</thead>
				<tbody>
					<tr class="warning">
						<td colspan="1" rowspan="5"><%=projects[i]%><span><input id="eod_qaeods_attributes_<%=i%>_game_id" name="eod[qaeods_attributes][<%=i%>][game_id]" type="hidden" value="<%=i%>" /></span></td>
						<td>Sick Leave</td>
						<td><%= f.text_field :ab_sickleave%></td>
					</tr>
					<tr class="warning">
						<td>Shift Leave</td>
						<td><%= f.text_field :ab_shiftleave%></td>
					</tr>
					<tr class="warning">
						<td>Annual Leave</td>
						<td><%= f.text_field :ab_annualleave%></td>
					</tr>
					<tr class="warning">
						<td>Holiday</td>
						<td><%= f.text_field :ab_holiday%></td>
					</tr>
					<tr class="warning">
						<td>Others</td>
						<td><%= f.text_field :ab_others%></td>
					</tr>
				</tbody>
			</table>

							

    <% else %>

     
            <DIV style="cursor:hand" onclick="isHidden('<%= projects[i] %>')"><input type="checkbox" /><%= projects[i] %></DIV>
			<div class="container-fluid" id="<%= projects[i] %>" style="display:none">
			<table class="table table-bordered" contenteditable="true">
				<thead>
					<tr class="warning">
						<th colspan="3" rowspan="1">QA</th>
						<th>Hours</th>
						<th colspan="2" style="width: 24%;" >Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr class="warning">
						<td rowspan="12"><span><%= projects[i] %><input type="hidden" name="eod[qaeods_attributes][<%=i%>][game_id]" id="eod_qaeods_attributes_<%=i%>_game_id" value=<%=i%> /></span></td>
						<td rowspan="6"><span>In-game</span></td>
						<td><span>Pre-testing</span></td>
						<td><%= f.text_field :Pre_QA_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :Pre_QA %></td>
					</tr>
					<tr class="warning">
						<td><span>Review</span></td>
						<td><%= f.text_field :Review_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :Review %></td>
					</tr>
					<tr class="warning">
						<td><span>Testing</span></td>
						<td><%= f.text_field :QA_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :QA %></td>
					</tr>
					<tr class="warning">
						<td rowspan="2"><span>Bug Management</span></td>
						<td rowspan="2" style="vertical-align: middle;"><%= f.text_field :Bug_Management_H %></td>
						<td>Report</td>
						<td>Rtest</td>
					</tr>
					<tr class="warning">
						<td style="width: 5%;"><%= f.text_field :Bug_Management_report %></td>
						<td style="width: 5%;"><%= f.text_field :Bug_Management_retest %></td>
					</tr>
					<tr class="warning">
						<td><span>Audio Testing</span></td>
						<td><%= f.text_field :Audio_QA_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :Audio_QA %></td>
					</tr>
					<tr class="warning">
						<td rowspan="4"><span>Non-game</span></td>
						<td><span>Review</span></td>
						<td><%= f.text_field :N_Review_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :N_Review %></td>
					</tr>
					<tr class="warning">
						<td><span>Testing</span></td>
						<td><%= f.text_field :N_QA_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :N_QA %></td>
					</tr>
					<tr class="warning">
						<td rowspan="2"><span>Bug Management</span></td>
						<td rowspan="2" style="vertical-align: middle;"><%= f.text_field :N_Bug_Management_H %></td>
						<td>Report</td>
						<td>Rtest</td>
					</tr>
					<tr class="warning">
						<td style="width: 5%;"><%= f.text_field :N_Bug_Management_report %></td>
						<td style="width: 5%;"><%= f.text_field :N_Bug_Management_retest %></td>
					</tr>
					<tr class="warning">
						<td colspan="2"><span>Project Management</span></td>
						<td><%= f.text_field :Project_Management_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :Project_Management %></td>
					</tr>
					<tr class="warning">
						<td colspan="2"><span>Other</span></td>
						<td><%= f.text_field :Other_H %></td>
						<td colspan="2" style="text-align: center;"><%= f.text_field :Other %></td>
					</tr>
				</tbody>

</table>

	<% end %>


</div>
 <% i = i + 1 %>
      </li>
    <% end %>
  </ul>

   <%= e.submit %>
<% end %>