<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @eod.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @eod.user.name %>
</p>

<%= render @eod.qaeods %>

<h2>Add a project:</h2>
<%= render 'qaeods/form' %>

<%= link_to 'Edit', edit_user_eod_path(@eod,@eod.user) %> |
<%= link_to 'Back', user_path %>
